/* General Styles */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: antiquewhite;
    padding: 20px;
    margin: 10px;
}

/* Navigation Bar */
nav {
    background: #3f5e34;
    color: #fff;
    padding: 1em 0;
}


/* Hero Section */
.hero img {
    width: 100%;
    height: 600px;
    object-fit:initial;
    display: block;
    padding: auto;
    margin: 10px;
}

h1 {
    background-color: #333;
    color: antiquewhite;
    padding: 10px;
    margin: 10px;
}




/* photo section */
div {
    display: grid;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    object-fit: cover;
}

/* Qualities section */
div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 /* Biography section */
 .MYBio {
    max-width: 600px;
    margin:10px;
    font-size: 20px;
    line-height: 1.5;
 }

 /* contact section */
 div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
 }

 /* contact form */
 .Contact {
    max-width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: #e12e2e;
    background-color: #3f5e34;
 }

 /* Footer */
footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0.5em 0;
}

footer a {
    color: #ecf0f1;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

 
