header {
    background-color: #333;
    color: antiquewhite;
    padding: 20px;
}

/* Hero Section */
.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

 /* Photo section */
.photos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
 
